.mycarouselCont{
  padding: 70px 0;
  position: relative
}

.mycarouselCont .content{
  border-radius: 15px;
  padding: 15px;
  margin: 0 5px;
  background: white;
}
.mycarouselCont .content  *{
  color: var(--gray-color)
}
.mycarouselCont .react-multiple-carousel__arrow--left, .mycarouselCont .react-multiple-carousel__arrow--right{
  display: none;
}

.mycarouselCont .prevbtn{
  position: absolute;
  left: -20px;
  top: 45%;
  font-size: 40px;
  color: var(--gray-color);
  cursor: pointer;
}
.mycarouselCont .nextbtn{
  position: absolute;
  right: -20px;
  top: 45%;
  font-size: 40px;
  color: var(--gray-color);
  cursor: pointer;
}

@media screen and (min-width:992px) {
  
.mycarouselCont .prevbtn{
  left: -35px;
}
.mycarouselCont .nextbtn{
  right: -35px;
}
}