/* Header  */
.headerCont{
 background-image: url(../../assets/header-bg.png);
 background-size: cover;
 background-position: center;
}

.headerCont .mainContentArea{
  text-align: center;
  padding: 200px 0;
}

/* Highlight  */
.highlightsCont{
  text-align: center;
}
/* Live  */
.liveCont{
  background-image: url(../../assets/liveBg.png);
  background-size: cover;
  background-position: center;
  padding: 10px 0; 
}
.liveCont .sectionA__bottom{
  display: flex;
}
/* Carousel  */
.carouselCont{
  position: relative;
  padding: 0 80px;
}
/* Signup  */
.signupCont{
  text-align: center;
  background-image: url(../../assets/signup-bg.png);
  background-size: cover;
  background-position: center;
}
/* Footer  */
.footerCont{
  background: var(--darkblue-color)
}
.footerCont a{
  color: var(--gray-color)
}
.footerCont .subscribeCont input{
  width: 100%;
  padding: 4px 10px;
  
}
.footerCont .subscribeCont .subscribeBtn{
  float: right;
}