/* Header  */
.headerCont{
 background-image: url(../../assets/header-bg.png);
 background-size: cover;
 background-position: center;
 min-height: 100vh;
}


/* Highlight  */
/* Live  */
/* Carousel  */
/* Signup  */
/* Footer  */
