:root{
  --yellow-color: #FFE600;
  --blue-color: #233E97;
  --darkblue-color: #111827;
  --gray-color: #ACAEB3;
}



*{
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
body{
  color: white;
}
a{text-decoration: none;}
img{
  max-width: 100%;
}
.yellow-color{color:var(--yellow-color)}
.blue-color{color:var(--blue-color)}
.darkblue-color{color:var(--darkblue-color)}
.gray-color{color:var(--gray-color)}

button{
  background: white;
  color: var(--blue-color);
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 30px;
}

button.outline{
  background: none;
  border: 1px solid var(--gray-color);
  color: white;
}

@font-face {
  font-family: tommy;
  src: url(./assets/fonts/A\ Thin_PERSONAL\ USE.otf);
  font-weight: 400;
}
@font-face {
  font-family: tommy;
  src: url(./assets/fonts/B\ Light_PERSONAL\ USE.otf);
  font-weight: 500;
}
@font-face {
  font-family: tommy;
  src: url(./assets/fonts/C\ Regular_PERSONAL\ USE.otf);
  font-weight: 600;
}
@font-face {
  font-family: tommy;
  src: url(./assets/fonts/D\ Medium_PERSONAL\ USE.otf);
  font-weight: 700;
}
@font-face {
  font-family: tommy;
  src: url(./assets/fonts/E\ Bold_PERSONAL\ USE.otf);
  font-weight: 800;
}
@font-face {
  font-family: tommy;
  src: url(./assets/fonts/F\ Black_PERSONAL\ USE.otf);
  font-weight: 900;
}

h1{
  font-family: tommy;
  font-size: 3rem;
  font-weight: 700;
}
h2{
  font-size: 36px;
  font-family: tommy;
  font-weight: 700;
}
/* 
@media screen and (max-width: 991px) {
} 
*/
/* Modify  */
.navbar-light .navbar-nav .nav-link{
  color: var(--darkblue-color);
  font-weight: 600;
  letter-spacing: 1px;
}
.row{
  --bs-gutter-x: 0
}

.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-light .navbar-toggler{
  border: none;
}

@media screen and (max-width: 425px) {
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 32px;
  }
}